body {background-color: rgb(110, 110, 110);}
p {color: rgb(97, 78, 78);}
h1 {text-align: center;}
h2 {text-align: center;}
body {color: rgba(221, 222, 223, 0.719);
background-color: rgb(133, 133, 133);}
